---
title: Posts
permalink: /posts
layout: archive
pagination:
  enabled: true
  collection: posts
  permalink: /:num/
---
<div>
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
      <a href="{{ post.link }}">{{ post.title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
      {% endif %}
    </h2>
      {% if post.header.teaser %}
        <img src="{{post.header.teaser}}"/>
      {% endif %}
  </div>
  {% endfor %}
</div>

{% include paginator.html %}
