---
layout: home
title: YourPalRyan
email_form: true
author_profile: false
header:
  title: YourPalRyan
  overlay_color: "#5e616c"
  overlay_image: /assets/images/CNCHelloWorld.jpg
excerpt: "A collection of things I&rsquo;ve made in the margins of my life"
feature_row:
  - image_path: /assets/images/thumbnails/DVDCNC.jpg
    alt: "A homemade cnc made from old parts drawing a gear with a sharpie"
    title: "OMG DVD CNC"
    excerpt: "This minimal viable CNC was largely made from upcycled parts."
    url: "/posts/2016-01-18-i-made-a-cnc-out-of-old-cd-drives-and-scrap-wood/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/thumbnails/kohlroseTulip.jpg
    alt: "Flower etched on a board"
    title: "Kolrosing"
    excerpt: "I decorated a one string guitar with this hand etched flower."
    url: "http://localhost:4000/posts/2016-02-27-kolrosing-the-neck-of-a-one-string-guitar/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/tumblr/tumblr_nlukw5fL5h1qz77obo1_640.jpg
    alt: "Hand carved bust"
    title: "Whittlin&rsquo;"
    excerpt: "Carving is one of my favorite creative outlets. I should do it more."
    url: "http://localhost:4000/posts/2015-03-26-whittlin/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
pagination:
  enabled: true
---
<p>When I can, I like to make all manner of things. This is a collection of
projects I thought to capture.</p>

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
