---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}
  <div class="archive">

  <h1 id="page-title" class="page__title">
    {% if page.autopages %}
    {{page.autopages.display_name | capitalize  }}
    {% endif %}
  </h1>

  {{ content | markdownify }}

  {% for post in paginator.posts %}
    {% include archive-single.html %}
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    {% if paginator.previous_page %}
     <a class="pagination--pager" href="/{{ paginator.previous_page_path }}">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
     <a class="pagination--pager" href="/{{ paginator.next_page_path  }}">Older Posts</a>
    {% endif %}
  </nav>
  {% endif %}
</div>
